@import '../../utils/style/GlobalStyle.scss';

.CardContainer {
  height: 340px;
  width: 340px;
  border-radius: 10px;
  background: linear-gradient(
    180deg,
    $primary-color 65%,
    rgba(0, 0, 0, 0.8) 125%
  );
  padding: 10px;
  display: flex;
  flex-direction: column;
  img {
    object-fit: cover;
    width: 320px;
    border-radius: 10px;
    height: 213px;
  }
  h2 {
    color: white;
    height: 84px;
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: start;
  }
  @media only screen and (max-width: 1023px) {
    height: 300px;
    h2 {
      height: 35px;
    }
  }
}
