$primary-color: #ff6060;
$secondary-color: #f6f6f6;

* {
  font-family: 'Montserrat', sans-serif;
  color: $primary-color;
  box-sizing: border-box;
  line-height: 142.6%;
}
body {
  margin: auto;
  max-width: 1440px;
  height: 100vh;
  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
